body{
    font-size: 14px;
}

.table-responsive::-webkit-scrollbar {
width: 0.5em;
height: 0.5em;   
}

ul.pagination {
    padding-top: 20px;
}

.table-responsive::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

input, option, table tr td, table tr th{
    font-size: 14px;
}

h4.text-themecolor {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}

.m-30{
    margin: 30px;
}
.m-20{
    margin: 20px;
}
.m-10{
    margin: 10px;
}
.m-t-30{
    margin-top: 30px;
}
.m-t-20{
    margin-top: 20px;
}
.m-t-10{
    margin-top: 10px;
}
.m-t-5{
    margin-top: 5px;
}

.m-b-30{
    margin-bottom: 30px;
}
.m-b-20{
    margin-bottom: 20px;
}
.m-b-10{
    margin-bottom: 10px;
}

.p-t-30{
    padding-top: 30px;
}
.p-t-20{
    padding-top: 20px;
}
.p-t-10{
    padding-top: 10px;
}
.p-b-30{
    padding-bottom: 30px;
}
.p-b-20{
    padding-bottom: 20px;
}

.p-30 {
    padding: 30px;
}

.p-20 {
    padding: 20px;
}

.font-14{
    font-size: 14px !important;
}

.font-13{
    font-size: 13px !important;
}

table {
    font-size: 15px;
}

form {
    font-size: 15px;
}

label {
    font-weight: 600;
}

.input-sm, input[type="text"], input[type="number"]{
    height: 32px !important;
    border-radius: 3px !important;
    line-height: 32px !important;
    font-size: 14px !important;
}

select{
    height: 32px !important;
    border-radius: 3px !important;
    font-size: 14px !important;
}

.select2-selection__rendered {
    height: 32px !important;
    line-height: 32px !important;
    font-size: 14px !important;
}

.select2-selection--single {
    height: 32px !important;
    line-height: 32px !important;
    
}

.bg-gray-light {
    background: #dee2e6;
}

.readonly {
    pointer-events: none;
    opacity: 0.6;
}

.bank-info-title {
    font-size: 15px;
    font-weight: 800;
}

table.bank-info-table {
    font-size: 14px;
}

.bank-info-table td {
    padding: 0px 10px;
}

.invoice-button {
    padding: 3px 10px;
    border-radius: 3px;
}

a.refer-attach {
    font-size: 13px;
}

.img-sign {
    margin: 20px;
}

.ui-state-default{
    border: 1px solid #333 !important;
    background: #ffffff !important;
    color: #333 !important;
}

.ui-state-highlight{
    border: 2px solid #375dcd !important;
    background: #ffffff  !important;
    color: #375dcd !important;
}

.ui-state-active{
    border: 2px solid #375dcd !important;
    background: #bac8ef !important;
    color: #375dcd !important;
}

th{
    vertical-align: middle;
}

.table-no-border tr td {
    border: none !important;
}



.table-no-border tr td:first-child{
    font-weight: 800;
}

.table-wrap{
    padding-top: 20px;
}

.remove-sign {
    position: relative;
    top: -5px;
}

.hidden {
    display: none;
}

.detail-table td, .detail-table th{
    padding: 5px 10px !important;
    font-size: 13px !important;
}

.detail-table th {
    background: #eaecf4 !important;
}

.detail-table {
    margin: 0px;
}

.detail-table label {
    margin-bottom: 0px !important;
}

.fit-content{
    width: fit-content;
}

textarea{
    font-size: 14px !important;
    border-radius: 3px !important;
}

h6.auth-title {
    font-size: 14px;
    margin-top: 10px;
}
.btn-group .receivedButton{
    border: 3px solid #fff;
    display: flex;
    border-radius: 6px !important;
}

.sign-wrap {
    width: fit-content;
    float: right;
    background: #fff;
    padding: 20px;
    margin-top: 20px;
}


.flex-block {
    display: flex;
}

.flex-item-1 {
    flex-grow: 1;
    padding: 0px 20px;
}

.setting-icon {
    font-size: 15px;
    color: #a3b8f5;
    border: 2px solid #a3b8f5;
    padding: 10px;
}

.setting-box {
    border: 1px solid #efefef;
    padding: 20px;
    border-radius: 5px;
    background: #ffff;
}

.setting-box label {
    float: right;
    padding-top: 11px;
}

.table-setting tr td {
    vertical-align: middle;
    padding: 5px 0px;
}

.setting-box h6 {
    font-size: 15px;
    color: #4c71dd;
    font-weight: 800;
    padding-top: 9px;
}

.table-setting {
    margin-bottom: 0px !important;
}
.table-setting tr td input {
    min-width: 200px !important;
}

.btn{
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

a.dashboard-link:hover {
    text-decoration: none !important;
    background-color: red !important;
}

a.dashboard-link:hover> .card {
    background-color: #d7e1ff;
}

