/** Define the margins of your page **/
@page {
    margin-top: 120px;
    margin-bottom: 40px;
    margin-left: 30px;
    margin-right: 30px;
}

.pagenum:before {
    content: counter(page);
    float: right;
    padding-bottom: 10px;
}

body{
    font-family: 'Roboto' !important;
}

header {
    position: fixed;
    top: -90px;
    left: 0px;
    right: 0px;
    height: 0px;
    background-color: #ffffff;

    font-weight: 800;
    font-size:14px;
}

footer {
    position: fixed; 
    bottom: -20px; 
    left: 0px; 
    right: 0px;
    height: 20px; 

    /** Extra personal styles **/
    background-color: #ffffff;
    color: #111111;
    font-size: 12px;
}
.p-l-10{
    padding-left: 10px;
}
.bold-font{
    font-weight: 600;
    font-size: 13px;
}
.block{
    display: block;
    height: fit-content;
}
.flex-division{
    display: flex;
}
.right-div{
    float:right;
}
.left-div{
    float:left;
}
.flex-item1{
    width: 30%;
    float: right;
}
.flex-item2{
    flex-grow: 1;
    width: 70%;
}

.table-bordered thead tr th, .table-bordered tbody tr td {
    border: 1px solid #333333;
    padding: 5px 10px;
    font-size: 13px;
    vertical-align: middle;
}

.table-bordered thead tr th {
    text-align: center;
}

.text-right{
    text-align: right !important;
}

.note_and_sign{
    display: flex;
    width: 100%;
}

.note_and_sign .note{
    width: 70%;
    float: left;
}

.note_and_sign .sign{
    width: 20%;
    float: right;
    font-size: 13px;
}

.note-title{
    font-size: 13px;
    font-weight: bold;
}

.note-body{
    font-size: 12px;
    color: #333333;
}

.bank-info-title{
    font-size: 13px;
    font-weight: 800;
}

.bank-info-body{
    font-size: 12px;
}

.bank-info-body tr td:first-child{
    font-weight: 800;
}

.deliver_receiver{
    font-size: 13px;
    display: flex;
    width: 100%;
    padding-top: 20px;
}

.deliver{
    width: 50%;
    float: left;
}

.receiver{
    width: 50%;
    float: right;
}
